<p id="notice"><%= notice %></p>
<p>
  <strong>Issue:</strong>
  <%= @blog_entry.issue.headline %>
<br/>and for demonstration with a link:<br/>
  <%= link_to @blog_entry.issue.headline, @blog_entry.issue %>
</p>
<p>
  <strong>Title:</strong>
  <%= @blog_entry.title %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @blog_entry.teaser %>
</p>

<p>
  <strong>Image:</strong>
  <%= @blog_entry.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog_entry.content %>
</p>

<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
